  
   <div id="features">
        <div class="wrapper">
            <ul>
                <li class="feature-3">
                    <h4>Ready to Go</h4>
                    <p>Web conferencing is online meetings with an unlimited amount of participants who can discuss problems online, share documents, observe websites together, exchange ideas regarding current issues, etc. Usually, these conferences are organized through Internet browsers by special services.</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
<body>
    <img src="./assets/images/laptop2.jpg" class="float-right" style="width: 50%">
    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Log In Here">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        <a href="#"> Forgot Password</a>    
    </form>     
</div>    
</body> 
<br>   
    