

<h1 style="font: size 25px;">Simplified video conferencing and messaging across any device</h1>
<p></p>with one touch from anywhere, without any need to download software. Access to real-time meeting analytics and live meeting controls
<br>


<img src="./assets/images/Supportdev.png" alt="world meeting" class= "rounded circle" width="800" height="500">



<h1 style="font: size 10px;">Get Meetings, Phone and Chat together on any device</h1>
    <div id="example1">
        
      <h2>Move from a chat or a phone call to a meeting with a single click</h2>
      <p>Enjoy industry leading usability with top-rated video and audio quality</p>
      <p>Connect external users while keeping information safe</p>
    </div>
    <img src="./assets/images/joinmeeting.jpg">
    <p></p>
    <div id="example2">
      <h6>World Meeting is a web conferencing platform that helps you conduct online conferences from anywhere with real-time audio, video, remote control, and screen sharing. <br> can record your meetings in the cloud storage or even download it on your storage. Not only this, it lets you share the meeting with all the employees who missed the meeting.</h6>
      <p>Hundreds of thousands of worldwide users. In addition to choosing the right software, platform-compatible hardware like video conferencing webcams and headset microphones will improve audio and video quality.</p>
      <p>conference platform that allows large companies and universities to host online conferences, trade shows, and more. It’s definitely made with a huge business in mind, but it’s missing some must-haves, like a mobile app.</p>
    </div>


