
div {
  float: right;
  border: 2px solid rgb(184, 49, 49);
  padding: 10px;
  width: 400px;
  height: 500px;
  text-align: justify;
  background-color: lightgrey;
  border-radius: 15px 50px 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


img {
    border-radius: 100%;
    display: block;
    width: 60%;
    height: 60%;
  
    }
    
    div {
      background-color: red;
      animation-name: example;
      animation-duration: 20s;
    }
    
    @keyframes example {
      from {background-color: rgb(0, 47, 255);}
      to {background-color:rgb(229, 255, 0);}
    }
    
    p{
      color:brown;
      font-style:oblique;
    }


  