<div id="hero-image">
<div class="wrapper">
    <strong><ul> Update Meetings</ul><br>
        <ul> Sharing Meetings</ul><br>
        <ul>Decision Making Meetings</ul><br>
        <ul>Problem Solving Meetings</ul><br>
        <ul>Innovation Meetings</ul><br>
        <ul>Team Building Meetings</ul><br>
    </strong><br/>
</div>
</div>


<p> Welcome to World Meeting, A meeting is when two or more people come together to discuss one or more topics, often in a ... convened for the purpose of achieving a common goal through verbal interaction, such as sharing information or reaching agreement.Turns within a topic are expected to be related to previous turns of the topic as a whole.</p>
<img src="./assets/images/worldmeethome.jpg" alt="world meeting">
